[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
markdown = "*"
django-debug-toolbar = "*"
whitenoise = "*"
gunicorn = "==19.9.0"
dj-database-url = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
