{% extends 'base.html' %}
{% load markdown_extras %}

{% block content %}
    <main role="main" class="container">
    <div class="pricing-header p-3 pb-md-4 px-5 mx-auto text-center">
      <h1 class="display-4 fw-normal">{{ article.topic }}</h1>
    </div>
        <div class="fs-5 text-muted px-5 mt-5" style="display: flex; justify-content: space-between; align-items: center">
            <small class="fst-italic fw-normal">By {{ article.author }}</small>
            <small>{{ article.created_at|date:'d M, Y H:i' }}</small>
        </div>
      <div class="fs-5 text-muted px-5 mt-5">
          <p class="fs-5 text-muted px-5 mt-5">{{ article.text | markdown | safe }}</p>
      </div>

  </header>


    <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://umuslitdinov.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </main>
{% endblock content %}