{% extends 'base.html' %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            {% for project in projects %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
                <div class="card-body">
                    <h3 class="mb-0 text-dark" href="#">{{project.title}}</h3>
                  <p class="card-text">{{project.description}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      {% if project.url %}
                      <a href="{{project.url}}"><button type="button" class="btn btn-sm btn-outline-secondary">Live project</button></a>
                      {% endif %}

                      {% if project.source_code %}
                      <a href="{{project.source_code}}"><button type="button" class="btn btn-sm btn-outline-secondary">Source code</button></a>
                      {% endif %}
                    </div>
                    <small style="color: {{project.type.color}};">
                        {{project.type.image |safe}}
                        {{project.type.title}}
                    </small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>

{% endblock content %}