{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main role="main" class="container">
        <div class="pricing-header text-center mx-auto p-5 mb-5"><h1 class="display-4 fw-normal">My web development
            skills</h1></div>
    </main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mx-auto">
        {% if skills %}
            {% for skill in skills %}
                <div class="col my-auto p-5">
                    <img src="{{ skill.logo_url }}" class="img-fluid" width="200px" alt="{{ skill.skill }}">
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}