{% extends 'base.html' %}

{% block content %}
    <main role="main" class="container">
        <div class="pricing-header text-center mx-auto p-5 mb-5"><h1 class="display-4 fw-normal">My web development skills</h1></div>
    </main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center mx-auto">
        <div class="col my-auto p-5">
            <img src="https://learndjango.com/static/images/tools/django.svg" class="img-fluid" width="200px" alt="django">
        </div>
        <div class="col my-auto p-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/2560px-Python_logo_and_wordmark.svg.png" width="200px" class="img-fluid" alt="python">
        </div>
        <div class="col my-auto p-5">
            <img src="https://www.django-rest-framework.org/img/logo.png" width="200px" class="img-fluid" alt="django-rest-framework">
        </div>
        <div class="col my-auto p-5">
            <img src="https://www.pinclipart.com/picdir/big/519-5197205_docker-logo-png-clipart.png" width="200px" class="img-fluid" alt="docker">
        </div>
        <div class="col my-auto p-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ec/Heroku_logo.svg/2560px-Heroku_logo.svg.png" width="200px" class="img-fluid" alt="heroku">
        </div>
        <div class="col my-auto p-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png" width="200px" class="img-fluid" alt="postgresql">
        </div>
        <div class="col my-auto p-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png" width="200px" class="img-fluid" alt="html">
        </div>
        <div class="col my-auto p-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png" width="140px" class="img-fluid" alt="css">
        </div>
        <div class="col my-auto p-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/Git-logo.svg/1280px-Git-logo.svg.png" width="200px" class="img-fluid" alt="git">
        </div>
    </div>
{% endblock content %}